<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menu lateral solo visible si el usuario está logueado -->
    <ion-menu *ngIf="isLogged" contentId="main-content" type="overlay">
      <ion-content class="ion-padding">
        <!-- Sección Inbox -->
        <ion-list id="inbox-list">
          <ion-list-header>CNEL({{ user.nombre }})</ion-list-header>
          <ion-note *ngIf="user">
            {{ user.cedula }}
          </ion-note>

          <!-- Menú dinámico -->
          <ion-menu-toggle *ngFor="let p of appPages" auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [ios]="p.ios" [md]="p.md"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Labels secundarios -->
        <ion-list>
          <ion-list-header>
            <h5><ion-icon name="people-outline"></ion-icon></h5>| Equipo de trabajo</ion-list-header>

          <ion-item>
            <ion-select
              placeholder="Sin datos"
              [(ngModel)]="selectedUser"
              interface="popover"
            >
              <ion-select-option
                *ngFor="let u of usuarios"
                [value]="u.id_usuario"
              >
                {{ u.nomb_usuario }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!-- Botón de logout -->
      </ion-content>
      <ion-item button (click)="logout()">Cerrar sesión</ion-item>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
